.button-column {
  gap: 2rem;
}

.button-column .btn {
  width: 500px;
  max-width: 80%;
}

.slide-out-right {
  animation: slideOutToRight 0.4s ease forwards;
  opacity: 1;
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideInFromLeft 0.4s ease forwards;
  opacity: 0;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.manage-table-wrapper {
  font-size: 0.8rem;
}

@media print {
  table {
    width: 100% !important;
    font-size: 10px !important;
  }
  th, td {
    padding: 2px !important;
    word-wrap: break-word;
  }
}

table th {
  vertical-align: middle;
  text-align: center;
}